<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <div class="w3-main" style="position : relative; left:30% ; width: 60%;">
  <div class="w3-main" style="margin-left:-5%;margin-right:4px">
    <div class="w3-container" id="packages" style="margin-top:5%">
      <h6 class="w3-text" style="color: #D2B48C; font-size: 2vw;"><b>Recommandation décideur</b></h6>
      <hr style="width:20vw;border:0.2vw solid #D2B48C" class="w3-round">

    </div>
  </div>
  <p style="font-size:1.2vw;margin-left:-5%;">Cette page permet la consultation des recommandations, celle-ci est dédiée aux décideurs.<br>
    Vous pourrez saisir l'identifiant du décideur dans le champ qui lui est dédié pour pouvoir consulter les recommandations relatives à la région du décideur.<br>
    </p>
</div>
<div class="w3-main">
      <div class="w3-container" style="margin-left: 25%; font-size:0.8vw">
        <form class="w3-container w3-card-4 w3-light-grey">
          <p class="titretable">Identifiant du décideur</p>

          <p>
          <input class="w3-input w3-border w3-round form-control" name="first" type="text" placeholder="Identifiant"></p>

          <button type ="submit" class="btn btn-primary">Afficher résultats de la région</button>
          <br>
          <p></p>
        </form>
      </div>
</div>
<div class="w3-container" style="margin-left: 25%; font-size:0.8vw">
<table class="w3-table w3-bordered" style="margin-top: 4%;">
  <tr>
    <th>Recommandations</th>
    <th>Exercices à faire en urgence</th>
    <th>Exercice pour vous améliorer davantage</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
  <tr>
    <td>Adam</td>
    <td>Johnson</td>
    <td>67</td>
  </tr>
</table>
</div>
</body>
</html>
