<div style="position:relative;width: 40%;">
  <nav class="fixed-nav-bar" id="mySidebar"><br>
    <div class="w3-container" style="color:white; margin-top: 10%;">
      <h3 style="font-size:1.5vw;"><b>API Reporting & Recommandation</b></h3>
    </div>
    <div class="w3-bar-block" style="color:white; margin-top: 20%;">
      <a  [routerLink]="['/first']" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="font-size:1.5vw;">Home</a>
      <a  [routerLink]="['/accueil']" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="font-size:1.5vw;">Assistant</a>
      <a  [routerLink]="['/dashboardd']" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="font-size:1.5vw;">Dashboard</a>
      <a  [routerLink]="['/report']" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="font-size:1.5vw;">Rapport</a>

      <a  [routerLink]="['/second']" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white" style="font-size:1.5vw;">Logout</a>

    </div>
  </nav>
</div>
